@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.footer {
    font-family: 'Roboto', sans-serif;
    background-color: #007bff; /* Primary color */
    padding: 0.5rem 1rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
}

.footer p {
    color: #fff;
    margin: 0;
    font-size: 1rem;
    text-align: center;
    transition: color 0.3s ease-in-out;
}

.footer p:hover {
    color: #e0e0e0;
}