@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.navbar {
    font-family: 'Roboto', sans-serif;
    background-color: #007bff; /* Primary color */
    padding: 0.5rem 1rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
}

.navbar-brand {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.navbar-brand:hover {
    color: #e0e0e0;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.me-auto{
    padding-top: 4px;
    padding-bottom: 12px;
}
.nav-item {
    position: relative;
    border: solid 2px black;
    border-radius: 5px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.nav-link:hover {
    color: black;
    transform: scale(1.05);
    background-color: #e0e0e0;
    border-radius: 5px;
    
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #e0e0e0;
    transition: width 0.3s;
}

.nav-link:hover::after {
    width: 100%;
    transition: width 0.3s;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #007bff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    z-index: 1000;
}

.dropdown-item {
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.dropdown-item:hover {
    background-color: #0056b3;
}

.nav-item:hover .dropdown {
    display: flex;
}

@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        background-color: #007bff;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        display: none;
    }

    .navbar-nav.active {
        display: flex;
    }

    .nav-link {
        padding: 1rem;
    }
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }
}